*{
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer, main, nav, article, aside, section, div {
    border: 1px solid #ccc;
    padding: 1em;
}

.red:first-child{
    background-color: rgba(0, 0, 0, 0.4);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* LAYOUT */

[class*="kolona"]{
    float: left;
}

.d-kolona-1 {width: 8.33%;}
.d-kolona-2 {width: 16.66%;}
.d-kolona-3 {width: 25%;}
.d-kolona-4 {width: 33.33%;}
.d-kolona-5 {width: 41.66%;}
.d-kolona-6 {width: 50%;}
.d-kolona-7 {width: 58.33%;}
.d-kolona-8 {width: 66.66%;}
.d-kolona-9 {width: 75%;}
.d-kolona-10 {width: 83.33%;}
.d-kolona-11 {width: 91.66%;}
.d-kolona-12 {width: 100%;}

/* vraćamo visinu roditelju */
.red::after{
    content: "";
    clear: both;
    display: block;
}